

# Entorno de desarrollo
.vscode/
.idea/

# Archivos Python compilados y cachés
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de recursos generados
resources_rc.py
resources.py

# Archivos de traducción generados
i18n/*.qm

# Archivos de empaquetado y temporales
zip_build/
*.zip
resourcesCompile.bat

# Configuración y metadatos locales
pyproject.toml
.gitignore

# Otros archivos temporales
*.bak
